@import "core/init/theme/main_texts.scss";

.filterContent {
  position: relative;
  z-index: 1;
  font-family: $fontStyle1;
  width: 240px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f7f7f7;
  gap: 16px;
  color: #525252;

  border-radius: 8px;
  box-sizing: border-box;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.typeFilterContent {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.type1Filter {
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  //border:1px solid #525252 ;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  &:hover {
    background-color: #d6d5d5;
  }
}

.filter_text {
  font-family: $fontStyle1;
  font-size: $subtitle2_fontSize;
  letter-spacing: $subtitle_letterSpacing;
}

@media (max-width: 900px) {
}
