//@import "core/init/theme/main_colors.scss";
@import "core/init/theme/main_texts.scss";

.card-content{
    max-width:240px;
    width: 25%;
    min-width:240px;
    background-color: #FFFFFF;
    height:360px;
    border-radius: 10px;
    padding:8px;
    box-sizing: border-box;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /*   &:hover {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
      }  */

}

.card-content:hover:not(:hover){
    opacity: 0.3;
}

.text-content{
     margin-top: 24px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 8px;
     box-sizing: border-box;
     padding: 0px 24px;
}

.card_button{
  background-color: transparent;
  border: none;
  &:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    //box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  } 
}
.card-title{
font-family: $fontStyle1;
font-weight: 700 ;
font-size: $body1_fontSize ;
line-height: 20px;
text-transform: uppercase;
}

.card-desc{
font-family: $fontStyle1;
//font-weight: $button_fontWeight;
font-size: $button_fontSize;
line-height: 16px;
letter-spacing: $button_letterSpacing;
text-transform: uppercase;
}

.card-img{

    height: 220px;
    width: 100%;
/*     &:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.1);
        //box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
      } */ 
}