@import "core/init/theme/main_texts.scss";
.product-listing-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 32px;
    padding: 40px;
    box-sizing: border-box;
}

.product-listing-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 8px;

  &::-webkit-scrollbar {
    width: 4,
  };
  &::-webkit-scrollbar-thumb{
    border-radius: 10;
    background-color: t#525252
  };
  &::-webkit-scrollbar-track {
    border-radius: 10;
    background-color: transparent
  };
}



.search-products-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
  
}
.search-result-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.listing-result{
    font-family: $fontStyle1;
    font-size: $overline_fontSize;
    line-height: 16px;
    letter-spacing: $overline_letterSpacing;
    }


.sort-button{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 78px;
    align-items: center;
    cursor: pointer;
   position: relative;

}

.sort-listing{
    width: 78px;
    z-index: 1500;
   position: absolute;
  margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sort-text{
    font-family: $fontStyle1;
    font-size: $overline_fontSize;
    line-height: 16px;
    letter-spacing: $overline_letterSpacing;
    &:hover{
        font-weight: 700;
    }
    }
    